{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">
        <div class="overlay"></div>
        <header class="header">
            <div class="row">
                <div class="col-6">
                    <h1 class="page-title">
                        <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line line-angle1"></span>
                            <span class="line line-angle2"></span>
                        </a>Archiv
                    </h1>
                </div>
                <div class="col-6">
                    &nbsp;
                </div>
            </div>
        </header>
        <div id="main-nano-wrapper" class="nano">
            <div class="nano-content" id="perfectScroll">
                <div class="container-fluid">
                    <div class="row" style="padding-left:15px;">
                        <div class="col-12">
                            <h3 class="box-title">Abgeschlossene Aufträge</h3>
                            <table class="table table-hover" id="jobsArchive">
                                <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Quelle
                                    </th>
                                    <th>
                                        SchadenNr.
                                    </th>
                                    <th>
                                        Beschreibung
                                    </th>
                                    <th style="min-width:150px;">
                                        Adresse
                                    </th>
                                    <th>
                                        Maßnahmen
                                    </th>
                                    <th>
                                        Vom
                                    </th>
                                    <th style="text-align: center; width:75px;">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for job in jobs %}
                                    <tr id="jobRow_{{ job.id }}">
                                        <td style="text-align: center;">
                                            {% if job.jobEnter == "manuell" %}
                                                <span class="badge badge-warning">manuell</span>
                                            {% else %}
                                                <span class="badge badge-success">System</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ job.insuranceDamageNo }}
                                        </td>

                                        <td>
                                            {{ job.damageDescription }}
                                        </td>
                                        <td>
                                            {{ job.damageStreet }}<br/>{{ job.damageZip }} {{ job.damageCity }}
                                        </td>
                                        <td>
                                            {% for action in job.action %}
                                                {{ action.text }}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ job.createDateTime|date('d.m.Y H:i') }}
                                        </td>
                                        <td style="text-align: center;">
                                            <div class="btn-group" role="group" aria-label="Action">
                                                <a href="#" class="btn btn-info btn-sm clickable"
                                                   data-url="{{ path('jobDetails',{'id':job.id}) }}"
                                                   data-hash="details-auftrag-{{ job.id }}"
                                                   data-trigger="{{ job.id }}"
                                                ><i class="fa fa-info"></i> Details</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block javascripts %}
    <script>
        var GetNav = "contentArchive";
    </script>
{% endblock javascripts %}

